h2{
	text-shadow: 1px 1px 1px #ffffff;
}

h3{
	text-shadow: 0px 0px 3px #ffffff;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-right {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

body {
	margin: 0;
	background-color: #f0f0f0;
}

.container {
	width: 60%;
	margin: 0 auto;
	background-color: #white;
	padding: 20px;
	box-shadow: 18px 7px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}
